.body {
    width: 430px;
}

.row {

}

.container {
    width: 302px;
    height: 440px;
    /* background-color: red; */
}


.btns .row button {
    width: 40px;
    padding: 10px 0px;
    margin: 15px 3px;
    font-size: 15px;
}


.display #screen {
    padding-right: 9px;
    /* position: relative; */
}






.foot {
    margin-top: 60px;
    font-size: 1.6rem;
    color: #8c4b4b;
    margin-bottom: -33px;
}

