body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid limegreen; */
    min-height: 100vh;
    background-color: #d7f9fc;
    flex-direction: column;


}


.container {
    width: 45%;
    height: 45vh;
    padding: 10px;
    border-radius: 8px;
    background-color: #f7c7db;
    /* border: 1px solid #ff006a; */
    box-shadow: 10px 12px 20px grey;


}


.display #screen {
    width: 97%;
    height: 70px;
    font-size: 30px;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 0.5em;
    background: #ecf0f3;
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #79A697,
        inset -8px -8px 8px #ffffff;

}



.btns {
    width: 100%;
    /* outline: 2px solid lime; */
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.btns .row button {
    width: 100px;
    padding: 8px 10px;
    margin: 13px 15px;
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 8px 8px 8px #00000020,
        -5px -5px 8px #ffffff;
}


.btns .row button:hover {

    box-shadow: inset 8px 8px 8px #23171720,
        inset -5px -5px 8px #ffffff;
}


.foot {
    margin-top: 200px;
    font-size: 1.7rem;
    color: #8c4b4b;
}